.campDiv {
  color: #0f0e0e;
  font-family: Nunito;
}

/* .reservationsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: hotpink;
  border: 4px solid rgb(13, 214, 214);
  border: 4px solid blueviolet;
  font-family: Nunito;
} */

.resForm {

}

.bookingButton {}

.bookingHeader {
  display: flex;
  justify-content: center;
  border: 4px solid rgb(226, 43, 43);
}
.calInput, .bookingButton{
  font-family: Nunito;
}

.startResLabel, .endResLabel, .bookingButton {
  display: flex;
  justify-content: center;
  border: 4px solid rgb(49, 226, 43);
}
.resDiv, .h3Div {
  /* display: flex;
  justify-content: center; */
  /* width: 70vw; */
  /* border: 2px solid rgb(206, 31, 60); */
}
