/* frontend/src/context/Modal.css */
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.fa-fire {
  color:rgb(230, 122, 33)
}

#modal-content {
  position: absolute;
  padding: 10px 40px 40px 40px;
  border: 1px solid #ac7969;
  box-shadow:
  5px 5px 20px #b78fbf,
  -5px 5px 20px #bfaf8f,
  5px -5px 20px #bfaf8f,
  -5px -5px 20px #bfaf8f;
  border-radius: 10px;
  color: #F2F2F2;
  background-color: #2e343a;
  font-family: 'Nunito';
}

form {
  flex-direction: column;
}

.modal-label {
  width: 100%;
  justify-content: space-between;
}
