.campsOuterDivGrid {
  color: #000000;
  height: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: auto;
  box-shadow:
  3px 3px 10px #62e72e,
  -3px 3px 10px #2e84e7,
  /* 3px -3px 15px #2ed1e7, */
  -3px -3px 10px #62e72e;
  /* border: 1px solid black; */
  background-color: rgba(121, 119, 117, 0.15);
  border-radius: 10px;
  padding-top: -10px;
  padding: 40px;
}

.campsContainerDiv {
  border: 5px solid rgb(235, 7, 178);
}

.campsDiv {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.campLink {
  font-size: 16px;
  text-decoration: none;
  /* overflow-wrap:break-word; */
  width: 120px;
  display: flex;
  justify-content: center;
  /* margin-left: 3px; */
}

.campPics {
  width: 220px;
  height: 165px;
  border-radius: 8px;
  background-size: cover;
}

.campPics:hover {
  box-shadow: -1px 1px 5px 5px rgb(236, 136, 43);
  transition: color 0.3s, background-color 0.3s , box-shadow .3s;
}


.campLink:hover{
  box-shadow: -1px 1px 5px 5px rgba(20, 20, 20, 0.4);
  transition: color 0.3s, background-color 0.3s , box-shadow .3s;
  border-radius: 4px;
}

.recentCampsTitle {
  display: flex;
  justify-content: center;
  font-family: Nunito;
  /* border: 5px solid rgb(82, 73, 75); */
  border-radius: .5%;
}
