.campsOuterDivGrid {
  color: #000000;
  display: grid;
  grid-template-columns: 50px repeat(5, 1fr) 50px;
  grid-template-rows: 50px repeat(5, 1fr) 50px;
  /* background-color: indigo; */
  border: 5px solid rgb(64, 226, 43);
}
.campsContainerDiv {
  border: 5px solid rgb(235, 7, 178);

}
.recentCampsTitle {
  grid-column: 3 / 5;
  grid-row: 2 / 6;
  display: flex;
  justify-content: center;
  font-family: Nunito;
  border: 5px solid rgb(226, 43, 89);
}

.campLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

#camp-1 {
  /* border: 1px solid black; */
  grid-column: 2;
  grid-row: 4;
}

#camp-2 {
  /* border: 1px solid black; */
  grid-column: 3;
  grid-row: 4;
}

#camp-3 {
  /* border: 1px solid black; */

  grid-column: 4;
  grid-row: 4;
}

#camp-4 {
  grid-column: 5;
  grid-row: 4;
}

#camp-5 {
  grid-column: 6;
  grid-row: 4;
}

#camp-6 {
  grid-column: 2;
  grid-row: 5;
}

#camp-7 {
  grid-column: 3;
  grid-row: 5;
}

#camp-8 {
  grid-column: 4;
  grid-row: 5;
}

#camp-9 {
  grid-column: 5;
  grid-row: 5;
}

#camp-10 {
  grid-column: 6;
  grid-row: 5;
}

#camp-11 {
  grid-column: 2;
  grid-row: 6;
}

#camp-12 {
  grid-column: 3;
  grid-row: 6;
}

#camp-13 {
  grid-column: 4;
  grid-row: 6;
}

#camp-14 {
  grid-column: 5;
  grid-row: 6;
}

#camp-15 {
  grid-column: 6;
  grid-row: 6;
}
