.reservations-div {
  /* background-color: hotpink; */
  border: 4px solid rgb(13, 214, 214);
  border: 4px solid blueviolet;
  font-family: Nunito;
}

#bookedTitle {
  border: 4px solid blueviolet;

}
form {
  border: 4px solid rgb(49, 226, 43);

}
.resDiv {
  display: flex;
  width: 70vw;
  justify-content: center;
  border: 2px solid rgb(206, 31, 60);
}
.h3Div {
  display: flex;
  justify-content: center;
}
