.splashPhoto {
    max-width: 500px;
}

.splashComponent {
    width: 100vw;
    height: 800px;
    /* background-color: cadetblue; */
    /* border: 10px solid blueviolet; */
    box-sizing: border-box;
    background-size: contain;
}
.slideshow {
    margin: 0 auto;
    overflow: auto;
    max-width: 800px;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
    border-radius: 40px;
  }

  /* Buttons */

.slideshowDots {
    text-align: center;
  }

  /* .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
  }
  .slideshowDot.active {
    background-color: #d41464;
  } */
