body{
  margin-right: 10px;
}
.splashComponent {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "sidebar splash";
  width: 100vw;
  /* border: 5px solid blueviolet; */
  box-sizing: border-box;
  background-size: contain;
  /* bottom: 100px; */
  margin-bottom: 90px;
}

.splashContainer{
  grid-area: splash;
  width: 100%;
  /* border: 5px solid rgb(226, 183, 43); */
  margin-bottom: 80px;
}

.reservationsContainer {
  grid-area: sidebar;
  box-sizing: content-box;
  position: absolute;
  margin-left: 20px;
  left: 0px;
  width: 20px;
  /* border: 4px solid rgb(73, 226, 43); */
  font-family: Nunito;
}
div.reservation-1 {
  font-family: Nunito;
  border: rgb(196, 188, 188);
  border-radius: 3%;
  margin-left: 30px;
  margin-right: 20px;
  /* margin-top: 10px; */
  /* padding: 10px; */
}
.WelcomeText {
  display: flex;
  justify-content: center;
  color: #0f0e0e;
  border: black;
  /* box-shadow:
  3px 3px 20px #b78fbf,
  -3px 3px 20px #e7872e,
  3px -3px 20px #e7872e,
  -3px -3px 20px #e7872e; */
  font-family: Nunito;
  font-size: 32px;
  margin-bottom: 20px;
}

.slideshow {
    margin: auto;
    overflow: auto;
    width: 700px;
    
    /* height: 600px; */
    border-radius: 20px;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 400ms;

    /* border: 10px solid blueviolet; */
}

.slide {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    border-radius: 40px;
  }
div.slide {

}
  .campDiv {
    color: #0f0e0e;
    font-family: Nunito;
  }

.reservation-1{
  margin-left: 10px;
  margin-top: 5px;
  background-color: rgba(121, 119, 117, 0.15);
  box-shadow:
  3px 3px 10px #62e72e,
  -3px 3px 10px #2e84e7,
  /* 3px -3px 15px #2ed1e7, */
  -3px -3px 10px #62e72e;
}
.reservation-1 > a {
  display: flex;
  justify-content: center;
  font-weight: 700;
  text-decoration: none;
  color: black;
  background-color: rgba(255, 127, 80, 0.552);
  border-radius: 5px;
}
.reservation-1 > li {
  display: flex;
  justify-content: center;
}
.profile-dropdown {
  border-radius: 5px;
  }

.editUser > a {
  text-decoration: none;
  color: white;
   }
.editUser > a:hover {
border-radius: 5px;
text-decoration: none;
color: white;
background-color: rgba(255, 127, 80, 0.552);
}
.resDiv {
  display: flex;
  justify-content: center;
  background-color: rgba(121, 119, 117, 0.15);
  /* padding: 10px; */
  box-shadow:
  3px 3px 20px #b78fbf,
  -3px 3px 20px #e7872e,
  /* 3px -3px 20px #e7872e, */
  -3px -3px 20px #e7872e;
  border-radius: 10px;
  margin-top: 55px;
  margin-right: 18px;
    /* margin-left: 50px; */

    /* border: 4px solid blueviolet; */
    /* border-radius: 5%; */
  }
  /* .calInput, .bookingButton{
    font-family: Nunito;
  } */


  .resDiv, .h3Div {
    /* display: flex; */
    /* justify-content: center; */
    box-sizing: border-box;
    font-family: Nunito;
    /* width: auto; */
    /* border: 1px solid black; */
    background-color: rgba(121, 119, 117, 0.15);
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: rgba(255, 127, 80, 0.852);
    /* border: 2px solid rgb(206, 31, 60); */
  }

h3.h3Div{
  box-shadow:
  3px 3px 10px #62e72e,
  -3px 3px 10px #2e84e7,
  /* 3px -3px 15px #2ed1e7, */
  -3px -3px 10px #62e72e;
}

.reserve-head {
  display: flex;
  justify-content: center;
}

li.campName {
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 80, 118);
}
  /* .allRes {
    box-sizing: content-box;
    height: 350px;
    font-family: Nunito;
    background-color: rgba(236, 164, 91, 0.15);
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: rgba(255, 127, 80, 0.603);
  } */

  .temph4 {
    display: block;
    margin-left: 10px;

    /* border: 3px solid black; */
  }

  .campLink {
    font-family: Nunito;
    color: black;
  }
