nav {
  display: grid;
  background-color: #1B2026;
  grid-template-columns: repeat(3, 1fr);
  /* box-shadow: 2px 2px 15px #BFAF8F, -2px 2px 15px #BFAF8F; */
  width: 100vw;
  height: 75px;
  top: 0;
  position: fixed;
  z-index: 1;
}

.left-nav,
.center-nav,
.right-nav {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.left-nav {
  color: #F2F2F2;
  grid-column: 1;
}

.center-nav {
  grid-column: 2;
  color: #F2F2F2;
  font-size: 40px;
  font-family: 'Nunito';
  justify-content: center;
  padding-top: .3em;

}

.right-nav {
  color: #F2F2F2;
  grid-column: 3;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-right: 15px;
}

.clearButtons {
  font-size: 20px;
  background-color: transparent;
  color: #F2F2F2;
  border: transparent;
  font-family: 'Nunito';
}

.clearButtonsText {
  font-family: 'Nunito';
  margin-right: 30px;
}

.soloButtons {
  margin: 10px;
  font-size: 30px;
}

.formButton {
  margin-top: 20px;
}

.profile-dropdown {
  position: absolute;
  top: 75px;
  right: 0px;
  background-color: #080B0D;
  margin: 0px;
  padding: 15px;
  border: 8px #e69c08;
  z-index: 0;
}

.fas.fa-fire:before {
  margin-right: 30px;
}

.fas.fa-spinner {
  font-size: 30px;
  margin-left: 20px;
  color: greenyellow
}
/* .fas.fa-spinner:before {
  color:indianred
} */

li {
  list-style: none;
}
